[package]
name = "payload-dumper"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bzip2 = "0.4"
rust-lzma = "0.5"
prost = "0.11"
# Only necessary if using Protobuf well-known types:
prost-types = "0.11"

[build-dependencies]
prost-build = { version = "0.11" }
